Section{
 width: 100%
}

Section > Div{
 display: flex; justify-content: center; flex-wrap: wrap
}

Section > Div > A {
 border: 1px solid grey;
 display: flex; flex-direction: column;
 padding: 10px;
 text-decoration: none
}

Section > Div > A > Div:first-of-type{
 font-weight: 600
}

Section > Div Img{
 background-color: rgba(0, 0, 0, 0.2);
 object-fit: contain;
}

