<style>
div#offers{
 display: flex; flex-wrap: wrap; gap: 10px
}

div#offers > *{
 border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 4px;
 flex-basis: calc((100%  - (10px * 2)) / 3);
 padding: 10px;
 position: relative;
 text-decoration: none
}
div#offers > *:hover{
 background-color: rgba(0, 0, 0, 0.08)
}

div#offers > * button.toBasket{
 background-color: rgba(0, 0, 0, 0.08);
 border: none; border-radius: 50%;
 padding: 2px 4.8px 0 4.8px;

 color: white;
 font-weight: bolder;
 position: absolute; right: 4px; bottom: 4px;
}
div#offers > * button.toBasket:hover{
 background-color: rgba(0, 0, 0, 0.2);
}
</style>

<div id="offers">
<?foreach($aOffers as $aOffer):?>
 <a href="?c=market&action=getOffer&id=<?= $aOffer['id']?>">
  <div><?= $aOffer['name']?></div>
  <div><?= $aOffer['short_description']?></div>
  <button data-offerId="<?= $aOffer['id']?>" class="toBasket">+</button>
 </a>
<?endforeach;?>
</div>

<script>
const getCookie = (name) => {
 const matches = document.cookie.match(new RegExp(
  "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
 ))

 return matches ? decodeURIComponent(matches[1]) : undefined
}

const getUserId = () => {
 let userId = getCookie('userId')

 if(userId == undefined){ //guid
  userId = Math.random(111111111111, 999999999999).toString(16).substring(2)
/*
  userId = () => {
   const f = () => {
    return Math.floor((1 + Math.random()) * 0x10000)
    .toString(16)
    .substring(1)
   }

   return f() + f() + '-' + f() + '-' + f() + '-' + f() + '-' + f() + f() + f()
  }
*/
 }

 document.cookie = `userId=${userId};max-age=` + (60 * 60 * 24 * 7 * 4)


 return userId
}

const cOffers = document.querySelectorAll('div#offers > *')
Array.from(cOffers).forEach((offer) => {
 offer.querySelector('div#offers > * button.toBasket').addEventListener('click', (e) => { console.log('e.target', e.target)
  e.preventDefault()

  axios({
   method: 'post',
   url: '?c=market&action=setBasket',
   data: {
    'userId': getUserId(),
    'offerId': e.target.dataset.offerid
   }
  })
  .then((response) => { //console.log('response.data', response.data)
  })
  .catch((error) => console.log(error))
 })
})
</script>