<p><?= $text?></p>

<form method="post">
 <h2>Форма регистрации:</h2>
 <input name="name" required placeholder="Ф.И.О.">
 <input name="login" required placeholder="Login">
 <input name="password" required placeholder="Password">

 <button>Зарегестрироваться</button>
</form>
