<style>
div#offer{
 display: flex; flex-direction: column; gap: 10px
}
</style>

<div id="offer">
 <strong><?= $aOffer['name']?></strong>
 <div><?= $aOffer['full_description']?></div>
 <div><?= $aOffer['price']?> руб.</div>
 <button>Купить</button>
</div>

